.main-page {
  position: relative;
  width: 300px;
  height:1000px;
}

.title {
  position: absolute;
  width:300px;
  height: 70px;

  border-radius:10px;
  vertical-align:middle;
  font-size: 25px;
  line-height:70px;

  color: aliceblue;
  background-color: rgb(243, 64, 64);
}

.drop-down {
  position: absolute;
  top: 40px;
  left: 0;
  padding-left: 0;
  margin-top:20px;
  display: none;
  list-style: none;
}

.drop-down .submenu {
  width: 300px;
  height: 70px;

  margin-top: 1px;

  font-size: 25px;
  text-align: left;

  color: aliceblue;
  background-color: rgb(243, 64, 64);
  display: inline-block;
  background-repeat:no-repeat;
}

.drop-down::before {
  position: relative;
  content: "";
  left: 220px;
  top: 2px;
  width: 0px;  
  height: 0px;  
  display: block;
  border-width: 18px;  
  border-style: solid;  
  border-color:  transparent transparent rgb(243, 64, 64) transparent;  
}

.drop-down .like {
  background-image: url(../img/icon.png);
  background-position: 25% 70%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.drop-down .favorites {
  background-image: url(../img/icon.png);
  background-position: -93% -15%;
}

.drop-down .discuss {
  background-image: url(../img/icon.png);
  background-position: 26% -20%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.drop-down a {
  margin-left: 90px;
  text-align: left;
  text-decoration: none;
  
  line-height: 70px;
  color: aliceblue;
  display: block;
  width: 50%;
  background-color: rgb(243, 64, 64);
}

.triangle-top {
  position: absolute;
  left: 220px;
  top: 30px;
  width: 0px;  
  height: 0px;  
  display: block;
  border-width: 18px;  
  border-style: solid;  
  border-color: white transparent transparent  transparent;  
}
.triangle-top:hover + .drop-down {
   display: block;
}



