.L1 {
  list-style: none;
}
.L2 li {
  background-color: rgb(243, 64, 64);
  border-radius:10px;
  font-size: 25px;
  color: aliceblue;
  text-align: left;
  width:300px;
  margin-top: 1px;
  height: 70px;
}
.line {
  line-height:70px;
  border-radius:10px;
  text-align: left;
  font-size: 25px;
  color: aliceblue;
  background-color: rgb(243, 64, 64);
  width:300px;
  height: 70px;
  vertical-align:middle;
}

.bg1 {
  margin-left: 20px;
  display:inline-block;
  width: 50px;
  height:50px;
  background-image: url(../img/icon.png);
  background-size: 150px 100px;
  background-position: 0% 60%;
  background-repeat:no-repeat;
}
.bg2 {
  margin-left: 20px;
  display:inline-block;
  width: 50px;
  height:50px;
  background-image: url(../img/icon.png);
  background-size: 150px 100px;
  background-position: 65% -35%;
  background-repeat:no-repeat;
}
.bg3 {
  margin-left: 20px;
  display:inline-block;
  width: 50px;
  height:50px;
  background-image: url(../img/icon.png);
  background-size: 150px 100px;
  background-position: 0% -38%;
  background-repeat:no-repeat;
}
a {
  margin-left:15px;
  text-align: left;
  text-decoration: none;
  color: aliceblue;
}
.L2 {
  margin-top:20px;
  position:absolute;
  top:90px;
  left:8px;
  display:none;
}
.L1 li:hover .icon,
.L1 li:hover .L2 {
   display:block;
}
.icon {
  color:rgb(243, 64, 64);
  position: absolute;
  left: 260px;
  top: -43px;
  display:none;
}
.box {
  width: 200px;
  height:500px;
}
.iconfont .icon-sanjiaoxing {
  color:white;
}

